<h1>Spark Pharmacy Prescription Management System</h1>
<div class="homepageDescription">
    <p>
        Spark Pharmacy is a pharmacy based in Corvallis, Oregon that fills an average of 
        300 prescriptions per day and serves about 10,000 patients. Spark Pharmacy uses 
        this database-driven site to keep track of the following: current <i>Patients</i>, the 
        <i>Meds</i> the pharmacy supplies, and individual <i>Prescriptions</i>, each of which will 
        contain at least one <i>PrescriptionMed</i>. Additionally, the pharmacy keeps 
        track of <i>Sales</i>.
    </p>
</div>