<h2>Update failed</h2>
<p>Reason: {{reason}}</p>

<form action='/prescription-meds/' method='GET'>
    <button type='submit'>
        Click to return to /prescription-meds
    </button>
</form>